//breakpoints
$small:                                   767px;
$medium:                                  991px;
$large:                                   1023px;
$ex-large:                                1024px;
$huge:                                    1199px;

//container width
$small-cont:                              540px;
$medium-cont:                             720px;
$large-cont:                              960px;
$huge-cont:                               1170px;
