@mixin container($media) {
  @if $media == medium-screens {
    @media (min-width: $small-breakpoint) { @content; }
  }
  @else if $media == large-screens {
    @media (min-width: $medium-breakpoint) { @content; }
  }
  @else if $media == ex-large-screens {
    @media (min-width: $large-breakpoint) { @content; }
  }
  @else if $media == huge-screens {
    @media (min-width: $huge-breakpoint) { @content; }
  }
}

@mixin default() {
  & {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem .5rem 0 .5rem;
  }
}

@mixin offset($columns) {
  @for $number from 1 through $columns {
    &-offset-#{$number} {
      margin-left: (100 / $columns * $number)#{'%'};
    }
  }
}

@mixin column($columns ) {
  @for $number from 1 through $columns {
    &-#{$number} {
      width: (100 / $columns * $number)#{'%'};
      flex: 0 0 (100 / $columns * $number)#{'%'};
    }
  }
}

@mixin grid-column($breakpoint, $columns) {
  .#{$breakpoint} {
    @include default();
    @include column($columns);
    @include offset($columns)
  }
}

@mixin init($breakpoints, $columns) {
  @each $breakpoint, $width in $breakpoints {
    @if ($width == 0) {
      @include grid-column($breakpoint, $columns);
    } @else {
      @media (min-width: $width) {
        @include grid-column($breakpoint, $columns);
      }
    }
  }
}